body{
    min-height: 95vh;
    min-width: 95vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#letters{
    border: 1px solid black;
    width: 96vw;
    height: 20vh;
    transform: translate(2%,40%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.letter{
    width: 2.6vw;
    height: 4vh;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin-top: 25px;
}
.letter button{
    border: none;
    font-size: 1.8vmax;
    background: none;
    cursor: pointer;
}
#word{
    width: 55vw;
    height: 30vw;
    border: 1px solid black;
    transform: translate(5%,5%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.wordletter{
    width: 3vw;
    height: 3.5vh;
    padding: 5px;
    font-size: 250%;
}
.bttm{
    border-bottom: 1px solid black;
    margin-right: 15px;
}
#image{
    float: right;
    width: 35vw;
    height: 30svw;
    border: 1px solid black;
    transform: translate(-10%,5%);
    text-align: center;
}
#statForWord{
    width: 18vw;
    height: 10vh;
    border: 1px solid black;
    transform: translate(35%,10%);
}
#getMoreStats{
    position: fixed;
    width: 18vw;
    height: 10vh;
    border: 1px solid black;
    right: 0;
    top: 0;
    transform: translate(-35%,10%);
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}
#onFinishedGame{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: brown;
    z-index: 999;
    text-align: center;
    display: none;
}
#wonorlost{
    z-index: 999;
    transform: translateY(50%);
    font-size: 5vmax;
}
#btnWhattoDo
{
    width: 45%;
    height: 35%;
    background-color: gray;
    transform: translate(60%,35%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
    border-radius: 16px;
}
.choice{
    width: 50%;
    height: 55%;
    background-color: snow;
    border-radius: 16px;
    margin:5%;
    transition-duration: 0.6s;
    text-align: center;
}
.choice:hover
{
    box-shadow: 5px 5px 15px 15px whitesmoke;
}
.choice a{
    text-decoration: none;
    color: black;
    font-size: 2.2vmax;
    display: block;
    margin-top: 18%;
    font-family: 'Josefin Sans', sans-serif;
}
.choice a:hover{
    text-decoration: underline;
    color:  #606060;
    cursor: pointer;
}
#btnWhattoDo input
{
    width: 80%;
    height: 15%;
    display: block;
    border-radius: 12px;
    font-size: 1.6vmax;
}
#btnWhattoDo span
{
    width: fit-content;
    height: 5%;
    border-radius: 16px;
    font-size: 1vmax;
    display: none;
    margin-top: 5%;
    overflow: hidden;
}
#btnWhattoDo button
{
    width: 50%;
    height: 17%;
    font-size: 1.8vmax;
    display: block;
    margin-top: 10%;
    border-radius: 12px;
    background: snow;
    transition-duration: 0.6s;
}
#btnWhattoDo button:hover
{
    box-shadow: 5px 5px 10px 10px whitesmoke;
    cursor: pointer;
}
#btnWhattoDo span#error{
    color: #ce2029;
    padding: 7px 10px 10px 7px;
    background-color: rgb(247, 162, 162);
    animation: fadeOut 3.5s;
    -webkit-animation: fadeOut 3.5s;
  -moz-animation: fadeOut 3.5s;
  -o-animation: fadeOut 3.5s;
  -ms-animation: fadeOut 3.5s;
}
#btnWhattoDo span#success{
    color: #228b22;
    padding: 7px 10px 10px 7px;
    background-color:#98fb98;
    animation: fadeOut 2s;
    animation-delay: 4s;
    -webkit-animation: fadeOut 2s;
    -webkit-animation-delay: 4s;
  -moz-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  -ms-animation: fadeOut 2s;
}
@keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-moz-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-webkit-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-o-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-ms-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}