body{
    min-height: 95vh;
    min-width: 95vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#letters{
    border: 1px solid black;
    width: 96vw;
    height: 20vh;
    transform: translate(2%,105%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.letter{
    width: 2.6vw;
    height: 4vh;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin-top: 25px;
}
.letter button{
    border: none;
    font-size: 1.8vmax;
    background: none;
    cursor: pointer;
}
#word{
    width: 55vw;
    height: 30vw;
    border: 1px solid black;
    transform: translate(5%,30%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.wordletter{
    width: 3vw;
    height: 3.5vh;
    padding: 5px;
    font-size: 250%;
}
.bttm{
    border-bottom: 1px solid black;
    margin-right: 15px;
}
#image{
    float: right;
    width: 35vw;
    height: 30svw;
    border: 1px solid black;
    transform: translate(-10%,30%);
    text-align: center;
}
#onFinishedGame{
    width: 95vw;
    height: 95vh;
    position: absolute;
    transform: translate(2.5%,2.5%);
    background-color: brown;
    z-index: 999;
}
#btnWhattoDo
{
    width: 40%;
    height: 29%;
    background-color: blue;
    transform: translate(75%,75%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice{
    width: 40%;
    height: 45%;
    background-color: yellow;
    margin:5%;
}