body{
    min-height: 95vh;
    min-width: 95vw;
    background: url("darkclouds.jpg") no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table
{
  border: 1px solid black;
  width: max-content;
  height: max-content;
  transform: translate(20%,40%);
  font-size: 2vmax;
  background-color: white;
}
tr,th
{
  border: 1px solid black;
  padding: 1vmax;
}
#letters{
    border: 7px solid #fffaf0;
    border-radius: 16px;
    width: 91vw;
    height: fit-content;
    transform: translate(5%,30%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #B0B0B0;
}
.letter{
    width: 2.6vw;
    height: 4vh;
    margin: 12px;
    border: 1px solid black;
    border-radius: 35%;
    text-align: center;
    padding: 7px;
    margin-top: 25px;
    background-color: snow;
    transition-duration: 0.45s;
}
.letter button{
    border: none;
    font-size: 1.8vmax;
    background: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}
.letter.stin:hover{
    box-shadow: 5px 5px 10px 10px #cfcecc;
}
#word{
    width: 50vw;
    height: 25vw;
    border: 7px solid #fffaf0;
    transform: translate(5%,5%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #B0B0B0;
}
.wordletter{
    width: 4vw;
    height: 5vh;
    padding: 5px;
    font-size: 4vmax;
    font-family: 'Josefin Sans', sans-serif;
}
.bttm{
    border-bottom: 1px solid black;
    margin-right: 15px;
}
#image{
    float: right;
    width: 30vw;
    height: 45vh;
    border: 1px solid black;
    transform: translate(-10%,5%);
    text-align: center;
}
#statForWord{
    width: 18vw;
    height: 10vh;
    border: 1px solid black;
    transform: translate(35%,10%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
#statForWord p{
    font-size: 1.2vmax;
}
#getMoreStats{
    position: fixed;
    width: 18vw;
    height: 10vh;
    max-width: 22vw;
    max-height: 14vh;
    border: 1px solid black;
    right: 0;
    top: 0;
    transform: translate(-35%,10%);
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 0.9vmax;
    background-color: white;
    display: none;
}
#getMoreStats h1:hover{
text-decoration: underline;
cursor: pointer;
}
#statsLeave
{
    width: 26vw;
    height: 8vw;
    border: 1px solid black;
    transform: translate(22%,20%);
    font-size: 2vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#statsLeave h1:hover
{
text-decoration: underline;
cursor: pointer;
}
#onFinishedGame{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    text-align: center;
    display: none;
}
#wonorlost{
    z-index: 999;
    transform: translateY(80%);
    font-size: 5vmax;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}
#btnWhattoDo
{
    width: 45%;
    height: 35%;
    background-color: gray;
    transform: translate(60%,35%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
    border-radius: 16px;
}
.choice{
    width: 50%;
    height: 55%;
    background-color: snow;
    border-radius: 16px;
    margin:5%;
    transition-duration: 0.6s;
    text-align: center;
}
.choice:hover
{
    box-shadow: 5px 5px 15px 15px whitesmoke;
}
.choice a{
    text-decoration: none;
    color: black;
    font-size: 2.2vmax;
    display: block;
    margin-top: 18%;
    font-family: 'Josefin Sans', sans-serif;
}
.choice a:hover{
    text-decoration: underline;
    color:  #606060;
    cursor: pointer;
}
#btnWhattoDo input
{
    width: 80%;
    height: 15%;
    display: block;
    border-radius: 12px;
    font-size: 1.6vmax;
}
#btnWhattoDo span
{
    width: fit-content;
    height: 5%;
    border-radius: 16px;
    font-size: 1vmax;
    display: none;
    margin-top: 5%;
    overflow: hidden;
}
#btnWhattoDo button
{
    width: 50%;
    height: 17%;
    font-size: 1.8vmax;
    display: block;
    margin-top: 5%;
    border-radius: 12px;
    background: snow;
    transition-duration: 0.6s;
}
#btnWhattoDo button:hover
{
    box-shadow: 5px 5px 10px 10px whitesmoke;
    cursor: pointer;
}
#btnWhattoDo span#error{
    color: #ce2029;
    padding: 7px 10px 10px 7px;
    background-color: rgb(247, 162, 162);
    animation: fadeOut 3.5s;
    -webkit-animation: fadeOut 3.5s;
  -moz-animation: fadeOut 3.5s;
  -o-animation: fadeOut 3.5s;
  -ms-animation: fadeOut 3.5s;
}
#btnWhattoDo span#success{
    color: #228b22;
    padding: 7px 10px 10px 7px;
    background-color:#98fb98;
    animation: fadeOut 2s;
    animation-delay: 4s;
    -webkit-animation: fadeOut 2s;
    -webkit-animation-delay: 4s;
  -moz-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  -ms-animation: fadeOut 2s;
}
@keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-moz-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-webkit-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-o-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
  
@-ms-keyframes fadeOut {
    1% { opacity: 1; visibility: visible;}
    99% { opacity: 0; visibility: visible;}
    100% { opacity: 0; visibility: hidden; }
}
