body{
    min-height: 95vh;
    min-width: 95vw;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
.outer{
    transform: translate(5%,3%);
    width: 40vw;
    height: 75vh;
}
.outer div h1{
    transform: translate(10%,50%);
    font-size: 90px;
    font-family: 'Josefin Sans', sans-serif;
}
.form{
    border: 7px solid black;
    border-radius: 15px;
    width: 88%;
    height: 74%;
    max-width: auto;
    max-height: auto;
    transform: translate(5%,10%);
    background: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form h3{
    font-size: 34px;
    font-family: 'Josefin Sans', sans-serif;
}
.form-box{
    width: 90%;
    height: 15%;
    /* border: 1px solid black; */
    margin-bottom: 2%;
}
.form-box input{
    width: 75%;
    height: 40%;
    margin-left: 1%;
    transform: translate(10%);
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: bolder;
}
.form-box label{
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    transform: translate(10%);
}
#form-bottom{
    width: 75%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 3%;
}
#form-bottom div button{
    padding: 7px 15px 7px 15px;
    width: 200px;
    height: 45px;
    font-size: 20px;
} 
#form-bottom #link{
    width: fit-content;
    height: fit-content;
    font-family: 'Josefin Sans', serif;
    font-size: 18px;
    font-style: italic;
    transform: translate(50%,35%);
}
#playDiv{
    position: absolute;
    transform: translate(75%);
    width: 20vw;
    height: 12vh;
    max-width: auto;
    max-height: auto;
    left: 450px;
    border: 4px solid black;
    border-radius: 15px;
    background-color: silver;
}
#playDiv button{
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    background: none;
    transform: translate(25%,50%);
}
#playDiv button a{
    text-decoration: none;
    color: black;
}
#playDiv button a:hover{
    color: #606060;
    text-decoration: underline;
}
.box.error{
    width: fit-content;
    height: fit-content;
    padding: 7px 10px 10px 7px;
    color: #ce2029;
    background-color: rgb(247, 162, 162);
    border-radius: 20px;
    display: none;
}
.box.success{
    width: fit-content;
    height: fit-content;
    padding: 7px 10px 10px 7px;
    color: #228b22;
    background-color:#98fb98;
    border-radius: 20px;
    display: none;
}
